#country-search-wrapper {

}

#country-search-wrapper .panel {
    transition: none;
}

#country-search-wrapper ol.breadcrumb {
    padding-left: 0;
}

#country-search-wrapper .panel .panel-heading {
    padding: 8px 8px;
}

#country-search-wrapper .panel .panel-heading h4 {
    font-size: 14px;
}

#country-search-wrapper .panel .panel .panel-heading {
    background-color: #5a93b9;
}

#country-search-wrapper .panel-body ul + .panel {
    margin-top: 10px;
}

#country-search-wrapper .panel ul {
    margin-bottom: 0;
}

#country-search-wrapper ul.primary-list-block li {
    line-height: 22px;
    margin: 5px 0;
}

#country-search-wrapper ul.primary-list-block li {
    list-style: none;
}

#country-search-wrapper ul.primary-list-block i {
    font-size: 12px;
    color: rgba(63, 181, 55, 0.25);
    padding-right: 5px;
}

#country-search-wrapper .country-outline-item li.no-articles,
#country-search-wrapper .country-outline-item li.no-articles a {
    color: lightgrey;
}

#country-search-wrapper .panel .breadcrumb {
    /*margin-top: -8px;*/
    margin: 0;
    padding: 0;
}

#country-search-wrapper .panel .breadcrumb li {
    color: white;
}

#country-search-wrapper .panel .breadcrumb li::before {
    color: white;
}

#country-search-wrapper .panel .breadcrumb a {
    color: white;
}

#country-search-wrapper .panel .panel-heading {
    background-color: #64bb5d;
    border-bottom: 0;
}

#country-search-wrapper .panel .panel-heading a {
    color: white;
}

#panel-categories-articles-items .panel {
    background-color: #f9f9f9;
}

#panel-categories-articles-items .panel-heading + .panel-heading {
    background-color: rgba(40, 174, 231, 0.75);
    font-size: 13px;
}

#panel-categories-articles-items {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;

}

#panel-categories-articles-items > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

#panel-categories-articles-items .panel .panel-heading i {
    color: white;
    font-size: 12px;
    position: relative;
    top: 4px;
    padding-right: 4px;
}

/* -------- ajax ------------------ */

.country-search-ajax {

}

.country-search-ajax #csw-items {

}

.country-search-ajax #csw-items .csw-category-item {
    background-color: #64bb5d;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.country-search-ajax #csw-items .csw-category-item:hover {
    background-color: #72d064;
}

.country-search-ajax #csw-items .csw-category-item i {
    margin-right: 2px;
}

.country-search-ajax #csw-sub-items .csw-sub-category-item {
    /*background-color: #64bb5d;*/
    background-color: rgba(93, 187, 131, 0.83);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 5px;

    /*background-color: white;*/
    /*border: 1px solid #5a93b9;*/
    /*color: #555;*/
}

.country-search-ajax #csw-sub-items {
    margin-top: 15px;
}

.country-search-ajax #csw-sub-items .csw-sub-category-item:hover {
    background-color: #72d064;
}

.country-search-ajax #csw-items .csw-active {
    /*width: 100%;*/
    /*margin-top: 5px;*/
    /*transition: width 0.2s;*/
}

.country-search-ajax #csw-items .csw-active .csw-category-item,
.country-search-ajax #csw-sub-items .csw-active .csw-sub-category-item {
    background-color: #5a93b9;
    cursor: default;
}

.country-search-ajax #csw-pages-items {
    margin-top: 15px;
}

/* --- pages in ajax categories --- */

.country-search-ajax #csw-pages-items .panel .panel-heading {
    background-color: #64bb5d;
    border-bottom: 0;
}

.country-search-ajax #csw-pages-items .panel .panel-heading a {
    color: white;
}

.country-search-ajax #csw-pages-items .panel {
    background-color: #f9f9f9;
}

.country-search-ajax #csw-pages-items .panel-heading + .panel-heading {
    background-color: rgba(40, 174, 231, 0.75);
    font-size: 13px;
}

.country-search-ajax #csw-pages-items {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;

}

.country-search-ajax #csw-pages-items > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.country-search-ajax #csw-pages-items .panel .panel-heading i {
    color: white;
    font-size: 12px;
    position: relative;
    top: 4px;
    padding-right: 4px;
}

span.csw-count {
    padding: 2px 4px;
    color: #64bb5d;
    margin-left: 4px;
    font-size: 12px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 2px;
}