#country-search-wrapper {

}

#country-search-wrapper .panel {
    transition: none;
}

#country-search-wrapper ol.breadcrumb {
    padding-left: 0;
}

#country-search-wrapper .panel .panel-heading {
    padding: 8px 8px;
}

#country-search-wrapper .panel .panel-heading h4 {
    font-size: 14px;
}

#country-search-wrapper .panel .panel .panel-heading {
    background-color: #5a93b9;
}

#country-search-wrapper .panel-body ul + .panel {
    margin-top: 10px;
}

#country-search-wrapper .panel ul {
    margin-bottom: 0;
}

#country-search-wrapper ul.primary-list-block li {
    line-height: 22px;
    margin: 5px 0;
}

#country-search-wrapper ul.primary-list-block li {
    list-style: none;
}

#country-search-wrapper ul.primary-list-block i {
    font-size: 12px;
    color: rgba(63, 181, 55, 0.25);
    padding-right: 5px;
}

#country-search-wrapper .country-outline-item li.no-articles,
#country-search-wrapper .country-outline-item li.no-articles a {
    color: lightgrey;
}