<div class="col-xs-12">

	<div class="row sgs-new-search-result-item">
		<div class="col-sm-3 sgs-new-col-left">
			<div class="sgs-new-userpic">
				<a class="sgs-userpic-wrapper" href="{{& userlink }}" title="{{ page_author }}">
					<img src="{{ page_author_image }}" />
				</a>
				<span>{{ page_author }}</span>
			</div>
		</div>
		<div class="col-sm-9 sgs-new-col-right">
			<div class="sgs-new-col-title">
				<a href="{{& link }}">{{ title }}</a>
			</div>
<!--			<div class="sgs-new-col-subtitle">
				{{& location_text }}
			</div>-->
			<div class="sgs-new-col-description">
				{{# desc }}{{ . }}{{/ desc }}
				{{^ desc }}—{{/ desc}}
			</div>
		</div>
	</div>

</div>