<h1>
    {{ title }}
    <small>{{ scope_text }}-wide</small>
</h1>
<p>
    {{ description }}
</p>

<div class="row">
    <div class="col-md-6">
        {{# parent }}
            <h3>Parent category</h3>
            <ul>
                <li>
                    <a href="{{ link }}">{{ title }}</a>
                </li>
            </ul>
        {{/parent}}
        <h3>Sub-categories</h3>
        <ul>
            {{# subs }}
            <li>
                <a href="{{ link }}">{{ title }}</a>
            </li>
            {{/subs}}
            {{^ subs }}
                <li>This category have no sub-categories.</li>
            {{/subs}}
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Pages in this category</h3>
        <ul>
            {{# pages }}
                <li>
                    <a href="{{ link }}">{{ title }}</a>
                </li>
            {{/ pages }}
        </ul>
    </div>
</div>