<div class="col-md-3">
    <div class="csw-category-item">
        <i class="glyphicon glyphicon-tags"></i>
        {{ text }}
        {{# count }}<span class="csw-count">{{ count }}</span>{{/count}}
    </div>
</div>