<h1>Geographical categories</h1>
<p>
    Damn yer cannon, feed the jolly roger.
    The rough grog awkwardly trades the sail.
    Plunders whine on punishment at singapore!
    The son scrapes with hunger, lead the captain's quarters.
    Belay there's nothing like the clear malaria hobbling on the mainland.
    C'mon, wow.
</p>

<div class="row" id="tree-wrapper">
    <div id="loading-overlay">Working...</div>
    <div class="col-md-6">
        <h2>Categories</h2>
        <div id="settle-categories-tree">Loading..</div>
    </div>
    <div class="col-md-6">
        <h2>Properties</h2>
        <div id="settle-category-properties">
            <div class="form-group">
                <label>Category Title</label>
                <input class="form-control" type="text" name="category_name" value="" />
            </div>
            <div class="form-group">
                <label>Category scope</label>
                <select class="form-control" name="category_scope">
                    <option></option>
                    <option value="0">Country</option>
                    <option value="1">State</option>
                    <option value="2">City</option>
                </select>
            </div>
        </div>
        <div class="form-group">
        <a class="btn btn-primary" id="save-node">Save category</a>
        <a class="btn btn-danger" id="delete-node">Delete category</a>
        <a class="btn btn-default pull-right" id="create-node">Create new category</a>
        </div>
    </div>
</div>