<div id="country-search-wrapper">

<p>
    Please select a category below.
    Only categories that contain at least one article are displayed.
</p>

<div class="row">

    {{& categories_html }}

</div>

</div>