<div class="row" id="double-wrapper">
<div id="double-col-left">
<div id="country-search-wrapper" class="country-search-ajax" data-country-id="{{ country }}">

	<div class="wrapper-col">

		<h1>Categories</h1>

	    <ol class="breadcrumb">
	        {{# breads }}
	            {{# active }}
	                <li class="active">
	                    {{ title }}
	                </li>
	            {{/active}}
	            {{^ active }}
	                <li>
	                    <a href="{{ link }}">{{ title }}</a>
	                </li>
	            {{/active}}

	        {{/ breads }}
	    </ol>


		<div class="row" id="csw-items">
			<div class="col-md-12"> Loading categories .. </div>
		</div>

		<div class="row" id="csw-sub-items">

		</div>

		<div class="csw-back">< BACK</div>

	</div>

</div>

</div>

	<div class="col-md-6 col-md-offset-6" id="double-col-right">
		<div class="wrapper-col">

			<div class="csw-right-title">
				<div class="csw-right-title-wrapper">
					<span>Results</span>
				</div>
			</div>

			<div class="row" id="csw-pages-items">

			</div>

		</div>
	</div>

</div>