<div id="country-search-wrapper">

    <ol class="breadcrumb">
        <li><a href="{{ backlink }}">Countries</a></li>
        <li class="active">{{ country_text }}</li>
    </ol>

    <!--<h3>{{ country_text }}</h3>-->

    {{# have_results }}

    <p>
        Please select a category below.
        Only categories that contain at least one article are displayed.
    </p>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {{& categories_html }}
    </div>

    {{/ have_results }}
    {{^ have_results }}
        <p>There are no articles in this country.</p>
    {{/ have_results }}

</div>