<div id="country-search-wrapper">

<p>
    Please select a country below:
</p>

<div class="row">

    {{# countries }}
    <div class="col-xs-6 col-md-3 country-outline-item animated fadeInUp" style="opacity: 0;">
        <strong>{{ title }}</strong>
        <ul>
            {{# items }}
            <li class="{{^ articles_count }}no-articles{{/articles_count}}" >
                <a href="{{& url_prefix }}/{{ geonamesCode }}">{{ name }}</a>
                {{# articles_count }}<span class="label label-success">{{ . }}</span>{{/ articles_count }}
            </li>
            {{/ items }}
        </ul>
    </div>
    {{/ countries}}

</div>

</div>