<div id="country-search-wrapper">

    <ol class="breadcrumb">
        {{# breads }}
            {{# active }}
                <li class="active">
                    {{ title }}
                </li>
            {{/active}}
            {{^ active }}
                <li>
                    <a href="{{ link }}">{{ title }}</a>
                </li>
            {{/active}}

        {{/ breads }}
    </ol>

    {{# have_results }}

    <p>{{& top_text }}</p>

    <ul class="primary-list-block">
        {{# categories }}
            <li>
                <i class="glyphicon glyphicon-{{ icon }}"></i>
                <a href="{{ link }}">
                    {{ title }}
                </a>
                {{# desc }}
                    <span class="text-muted">{{ . }}</span>
                {{/ desc}}
            </li>
        {{/ categories }}
    </ul>

    {{/ have_results }}
    {{^ have_results }}
        <p>{{ _ "settlegeocategories-no-results" }}</p>
    {{/ have_results }}

</div>