<div class="panel panel-info">
    <div class="panel-heading" role="tab" id="category_{{id}}">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{id}}" aria-expanded="false" aria-controls="#collapse_{{id}}">
                Collapsible Group Item #2
            </a>
        </h4>
    </div>
    <div id="#collapse_{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">

            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
                <li>e</li>
            </ul>

        </div>
    </div>
</div>