<div class="col-md-2">
    <div class="csw-sub-category-item">
        <i class="glyphicon glyphicon-tag"></i>
        {{ text }}
        {{# count }}<span class="csw-count">{{ count }}</span>{{/count}}
    </div>
</div>