<div class="col-md-2">
    <div class="csw-sub-category-item">
        <i class="glyphicon glyphicon-tag"></i>
        {{ text }}
        <!--<span class="label label-party">{{ count }}</span>-->
    </div>
</div>